body
{
    margin: 2%;
    padding: 0;
}

/*En-tête*/
.en-tete
{
    display: flex;
}

ul
{
    flex: 1;
    list-style-type: none;
    color: blue;
}

header
{
    padding: 1%;
}
/*CONTENEUR 1 */

.conteneur1
{
    padding: 1%;
}

.search
{
    display: flex;
}

.filtre
{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.filtrer
{
    display: flex;
    margin-left: 1%;
    border: 1 1 solid grey;
}

/*CONTENEUR 2*/

.conteneur2
{
    display: flex;
}

.hebergement
{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(211,211,211,0.7);
    border-radius: 5px;
    height: 80%;
    padding: 1.5%;
}

.populaires
{
    flex: 1;
    background-color: grey;
    height: 80%;
    padding: 1.5%;
    background-color: rgb(211,211,211,0.7);
}

.ligne1
{
    display: flex;
    justify-content: space-around;
}

.ligne2
{
    display: flex;
    justify-content: space-around;
}

aside
{
    margin-left: 2%;
}

img
{
    height: 100px;
    border-radius: 1em;
}

/* ACTIVITES */
.images-activites
{
    display: flex;
    justify-content: space-around;
}

.activites-g
{
    display: flex;
}

.activites-g-g
{
    display : flex;
    flex-direction: column;
}

.activites-d
{
    display: flex;
}

.activites-d-d
{
    display : flex;
    flex-direction: column;
}

.img-head
{
    height:100px;
}

/*footer*/
footer
{
    display: flex;
    justify-content: space-around;
    background-color: grey;
}